<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="5.7.0" targetFramework="net40" developmentDependency="true" />
  <package id="DotNetZip" version="1.15.0" targetFramework="net40" />
  <package id="Fody" version="6.6.0" targetFramework="net40" developmentDependency="true" />
  <package id="Ionic.Zip" version="1.9.1.8" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net40" />
  <package id="SevenZip" version="19.0.0" targetFramework="net40" />
</packages>